html, body {
  width: 500px;
}

.choice {
  width: 99%;
  padding: 4px;
  margin: 2px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  background-color: #d1fffe;
}

.enabled{
  width: 99%;
  padding: 4px;
  margin: 2px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  background-color: #6fed82;
}

.enabled:hover {
  background-color: #c1f5f4;
}

.choice:hover {
  background-color: #a7f2b2;
}